﻿@model WebApplication1.Models.Koltso
@{
}
<html>
<head>
    <title>Площадь кольца</title>
</head>
<body>
    <h1>Вычисление площади кольца</h1>
    <form class="row" action="/Koltso/Koltso" align="center">
        <div class="form-group">
            <label for="r">Внутрений радиус</label>
            <input name="r" type="number" class="form-control" id="r" value="@Model.r" />
        </div>
        <div class="form-group">
            <label for="R1">Внешний радиус</label>
            <input name="R1" type="number" class="form-control" id="R1" value="@Model.R1" />
        </div>
        <div align="center">
            <button type="submit" class="btn btn-default" id="Square">Посчитаем</button>
        </div>
        <div class="form-group">
            <label for="S">Площадь кольца</label>
            <input type="text" class="form-control" id="S" value="@Model.S" />
        </div>
    </form>
</body>
</html>