﻿@{
    ViewData["Title"] = "RaschetSquareRing List";
}

<h2>RaschetSquareRing List</h2>
<div class="text-center">
    <h1 class="display-4">Расчёт площади кольца</h1>
    <img class="item_work_bg lazy" src="~/images/1407974009_ploschad-kolca.jpg" alt="Formula">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>